# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#project specific
.vscode/
All_Top-k/build/
PointPrune/build/
InteractiveTopk/build/
User_study/build/
User_study/output
ExistingAlg/output
ExistingAlg/build
PointPrune/output/